<div class="product"></div>
<div id="cards">
    <app-card-block [id]="products[0].id" [name]="products[0].name" [price]="products[0].price" [description]="products[0].description"></app-card-block>
    <app-card-block [id]="products[1].id" [name]="products[1].name" [price]="products[1].price" [description]="products[1].description"></app-card-block>
    <app-card-block [id]="products[2].id" [name]="products[2].name" [price]="products[2].price" [description]="products[2].description"></app-card-block>
</div>